@model FantasyTeam

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FantasyTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QB1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QB1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QB2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QB2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RB1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RB1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RB2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RB2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WR1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WR1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WR2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WR2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kicker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kicker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Defense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Defense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouchdownsLastYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouchdownsLastYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouchDownsProjected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouchDownsProjected)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
